{% extends 'base.html' %}
{% block head_title %}
  {{ instance.title}} | {{ block.super }}
{% endblock head_title %}
{% block content %}
<div class="col-sm-4 col-sm-offset-4">
  <h3>Invoice Number: {{ invoice.id }}</h3>
  <p><strong>User:</strong> {{ invoice.user }}</p>
  <p><strong>Receiver:</strong> {{ invoice.receiver }}</p>
  <p><strong>Sender:</strong> {{ invoice.sender  }}</p>
  <p><strong>Date:</strong> {{ invoice.date }}</p>
  <p><strong>Due date:</strong> {{ invoice.due_date }}</p>
  <h4>Items:</h4>
  <div class="row">
    <div class="col-sm-3"><strong>Name</strong></div>
    <div class="col-sm-3"><strong>Price</strong></div>
    <div class="col-sm-3"><strong>Quantity</strong></div>
    <div class="col-sm-3"><strong>Amount</strong></div>
  </div>
  <div class="row">
    {% for line_item in line_items %}
      <div class="col-sm-3">{{ line_item.name }}</div>
      <div class="col-sm-3">{{ line_item.price }}$</div>
      <div class="col-sm-3">{{ line_item.quantity }}</div>
      <div class="col-sm-3">{{ line_item.amount }}$</div>
    {% endfor %}
  </div>
  <p><strong>Subtotal:</strong> {{ invoice.subtotal }}$</p>
  <p><strong>Discount:</strong> {{ invoice.discount }}{{invoice.discount_type}}</p>
  <p><strong>Tax:</strong> {{invoice.tax }}{{invoice.tax_type}}</p>
  <p><strong>Shipping:</strong> {{ invoice.shipping_price }}$</p>
  <p><strong>Total:</strong> {{ invoice.total }}$</p>
  <a href='{{invoice.get_edit_url}}'><button class="btn btn-default">Edit</button></a>
  <a href='{{invoice.get_delete_url}}'><button class='btn btn-default'>Delete</button></a>
  <a href="{% url 'invoices:list' %}"><button class="btn btn-default">My invoices</button></a>
</div>

{% endblock content %}
